<!--
9anime Companion - Custom CSS Manager
Please don't edit this part manually
-->
<div id="_ccl_widget" style="display: none">
    <div class="top-bar">
        <span class="header">Custom CSS Manager</span>
        <span class="close-button" id="_ccl_close">&times;</span>
    </div>
    <div class="paste-css">
        <textarea title="Paste your custom css here." id="_ccl_custom_css_text"></textarea>
        <button type="button" id="_ccl_preview_custom_css">Preview</button>
    </div>
</div>
<!--
End Custom CSS Manager
-->
